/* Contact Form variables
========================================================*/
/* Contact Form Basic Styles 
========================================================*/
#contact-form {
  position: relative;
}
#contact-form label {
  position: relative;
  display: inline-block;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 22px;
  font-family: 'Open Sans', sans-serif;
}
#contact-form label.email { }
#contact-form label.message {
  margin-bottom: 18px;
}
#contact-form fieldset {
  border: none;
}
/* Contact Form Placeholder Styles 
========================================================*/
#contact-form ._placeholder {
  width: calc(100% - 20px) !important;
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  line-height: 29px;
  font-size: 14px;
  padding: 0 0 0 20px;
  cursor: text;
  color: #727070;
  font-family: 'Open Sans', sans-serif;
}
#contact-form ._placeholder.focused {} 
#contact-form ._placeholder.hidden {
  display: none;
}
#contact-form .file ._placeholder {
  display: none;
}

/* Contact Form Textarea 
========================================================*/
#contact-form textarea {
  width: calc(100% - 30px);
  background: #ffffff;
  line-height: 24px;
  font-size: 13px;
  padding: 0;
  outline: none;
  resize: none;
  height: 156px;
  border: 1px solid #c8c2c2;
  color:#606465;
  padding: 11px 10px 10px 20px;
  font-family: Arial, Helvetica, sans-serif;
}
#contact-form textarea:focus {}
/* Contact Form Error messages
========================================================*/
#contact-form .empty-message,
#contact-form .error-message {
  position: absolute;
  right: 3px;
  top: 2px;
  color: #fa5555;
  height: 0;
  overflow: hidden;
  font-size: 11px;
  -webkit-transition: 0.3s ease-in height;
  transition: 0.3s ease-in height;
  z-index: 99;
  font-family: 'Open Sans', sans-serif;
}
#contact-form .invalid .error-message,
#contact-form .empty .empty-message {
  height: 20px;
}
/* Contact Form Processing Box
========================================================*/
#contact-form .contact-form-loader {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  overflow: hidden;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.8);
  background-image: url('../images/form-loader.gif');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  opacity: 0;
}/*
#contact-form.processing .contact-form-loader {
  opacity: 1;
  z-index: 99;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}*/